@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css?family=Lato');
    font-size: 1em;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
    text-align: center;
}

.heading1 {
    font-size: 30px;
    font-weight: bold;
}

.heading2 {
    font-size: 20px;
    font-weight: bold;
}

.heading3 {
    font-size: 20px;
}

.font1 {
    font-size: 15px;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    padding-bottom: 50px;
}

hr {
    left: 0%;
}

.row {
    margin-top: 5%;
}

.logo {
    text-align: right;
}

.buffer {
    min-height: 15px;
}

.image {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    color: #151515 !important;
    margin-right: 15px;
}

.links {
    margin-top: 20px;
}
